@import "./variables.scss";

.cartDrawer::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
}

.cartDrawer::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.cartDrawer::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 2px; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.cartDrawer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.slim-scroll::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
    height: 3px;
}

.slim-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.slim-scroll::-webkit-scrollbar-thumb {
    background-color: #0094cf; /* Thumb color */
    border-radius: 1px; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.slim-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
}

.ant-drawer-header {
    padding: 10px 15px !important;
}
.ant-drawer-body {
    padding: 15px 8px !important;
}

.ant-modal-content {
    padding: 0px !important;
}
.ant-modal-title {
    padding: 15px 0px 12px 18px !important;
    border-bottom: 1px solid #e8e8e8 !important;
}

.ant-pagination-item {
    border-radius: 20px !important;
}
// .ant-pagination-item-link{
//   border-radius: 20px !important;
//   box-shadow: (0px 0px 16px rgba(0, 0, 0, 0.12));
//   background-color: white !important;
//   color: $primary-color;
// }
